* {
  box-sizing: border-box;
}

.full-page {
  min-height: 100vh;
}

.first {
  background: url("/assets/images/background-first-page.jpg");
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/assets/images/background-first-page.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 4;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

input {
  position: fixed;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 10px;
  opacity: 0;
  z-index: 11;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
}

li {
  font-family: "Rubik";
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 3px 2px grey;
  text-transform: uppercase;
  padding: 0 50px;
}

li a {
  text-decoration: none;
  color: black;
}

.menu button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0;
  margin: 1rem;
  margin-top: 1.4rem;
  z-index: 10;
  position: fixed;
  right: 0;
}

.menu button span {
  background-color: black;
  width: 100%;
  height: 0.5rem;
  display: block;
  margin-bottom: 0.6rem;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px #ffffff;
}

button span:nth-child(2) {
  left: -6px;
  position: relative;
  transition: left 0.3s ease-in-out;
}

input:hover + div span:nth-child(2) {
  left: 0;
}

.header-box {
  position: absolute;
  border: 4px solid black;
  left: 50px;
  top: 70px;
  width: 160px;
  padding: 10px;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.622);
}

h1 {
  font-size: 2em;
  margin-top: 0;
  text-align: center;
  font-family: "Rubik";
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.story {
  color: black;
  text-decoration: none;
  font-family: "Rubik";
  font-size: 0.7em;
}

.story span {
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.story:hover span {
  left: 15px;
}

.arrow {
  font-size: 3em;
  position: absolute;
  left: 50%;
  bottom: 10px;
  color: white;
  text-decoration: none;
  transform: translate(-50%, 0);
}

.second {
  padding: 15px 35px 100px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/images/background-second-page.jpg");
  background-size: cover;
}

h2 {
  color: white;
}

.space {
  font-family: "Rubik";
  font-size: 2em;
  margin-left: 8px;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 30px;
  text-shadow: 0 3px 2px rgba(10, 10, 10, 0.655);
}

.ventures {
  position: absolute;
  font-size: 2.5em;
  left: 95px;
  top: 46px;
  opacity: 60%;
}

.major-tom {
  display: none;
}

h3 {
  color: white;
  font-family: "Rubik";
  margin-top: 120px;
}

p {
  color: white;
  font-family: "Rubik";
  line-height: 1.5;
  font-size: 1em;
}

blockquote {
  color: white;
  font-family: "Rubik";
  margin-right: 10px;
  font-size: 0.85em;
  font-style: italic;
}

blockquote p {
  margin-right: 52px;
}

blockquote {
  position: relative;
  display: inline;
  left: 50px;
  font-style: italic;
  line-height: 20px;
  font-size: 1.5em;
}

blockquote::before,
blockquote::after {
  display: block;
  position: absolute;
  font-size: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 30%;
}

blockquote::before {
  content: open-quote;
  top: 65px;
  left: -50px;
}

blockquote::after {
  content: close-quote;
  bottom: 25px;
  right: -70px;
}

.gradient-quote {
  display: none;
}

/*Jag förstår inte riktigt hur jag ska få in rätt färg. 
Det här var det närmsta jag fick det till. */
.read-more {
  color: #d200a2;
  font-family: "Rubik";
}

.cookie {
  background-color: #02061f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  gap: 10px;
}

.cookie p {
  color: #d200a2;
  text-shadow: 0 0 7px #d200a2;
  line-height: 1.2;
}

.cookie button {
  background-color: #081060;
  color: white;
  font-family: "Rubik";
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.cookie button:hover {
  background-color: #081080;
}

@media screen and (min-width: 1024px) {
  .major-tom {
    display: block;
  }

  .gradient-quote {
    display: block;
  }

  .header-box {
    left: 80px;
    width: 350px;
    padding-bottom: 10px;
    text-align: right;
  }

  h1 {
    font-size: 5em;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .story {
    margin-right: 8px;
    font-weight: 400;
  }

  .left {
    width: 40%;
  }

  .right {
    width: 40%;
    margin-top: 30px;
  }

  .second {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/images/background-second-page-desktop.jpg");
    background-size: cover;
    width: 100%;
    padding-left: 60px;
    padding-right: 70px;
    justify-content: space-between;
  }

  .gradient-quote {
    color: #d200a2;
    font-family: "rubik";
    font-size: 2rem;
    font-weight: 300;
  }

  .space {
    font-size: 3em;
    left: 50px;
  }

  .ventures {
    font-size: 3.7em;
    left: 70px;
    top: 65px;
  }

  .article-one {
    margin-top: 220px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .article-one p {
    line-height: 1.7;
    font-size: 0.9rem;
  }

  blockquote {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .major-tom {
    width: 80px;
    transform: rotate(5deg);
    float: right;
  }

  .article-two p {
    line-height: 1.7;
    font-size: 0.9rem;
    margin-left: 7px;
  }

  .article-two a {
    margin-left: 7px;
  }

  .gradient-quote {
    opacity: 0.3;
    font-style: italic;
    padding-right: 100px;
    margin-bottom: 50px;
  }

  /* Lyckades inte få till så att skuggan försvinner på linjerna, 
  kunde inte heller runda till kanterna på den*/
  li a:hover {
    text-decoration: underline;
    text-decoration-color: #d200a2;
    text-decoration-thickness: 5px;
    text-underline-offset: 0.5rem;
  }

  nav {
    background-image: none;
    background-color: #ffffffda;
  }

  .gradient-quote h4 {
    font-weight: 300;
    line-height: 1.3;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    background: #d200a2;
    background: linear-gradient(
      to bottom right,
      rgb(210, 0, 162) 0%,
      #ffffff 50%,
      rgb(210, 0, 162) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
}
